*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
h1 {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    

}

h4
{
    margin-top: 0;
    margin-bottom: 0;
    color: #000000;
    font-weight: bold;
    font-size: 28px;
    
}
h5 {
    color: #474747;
    font-weight: bold;
    font-size: 20px;
}

ul {
    color: black;
    font-weight: normal;
    
    font-size: 19px;
} 
select {
    font-size: 18px;
    padding: 10px;
    margin-top: 100px;
  }



img {
    display: block;
    margin: 0 auto; /* centriranje slike u sredinu stranice */
    border: 10px solid black; /* širina i boja okvira */
    /* border-radius: 20%; zaobljeni uglovi */
    box-shadow: 10px 10px 20px #black; /* sjena */
    width: 300px;
    height: 200px;
    position: relative;
    top: 10px;
    
  }

header {
    font-size: 1.5rem;
}
header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: #B5B5B5;
    /* border: 20px solid black;
    border width: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;  */
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
   form label{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    
    
   }

  select{
    width: 400%;
    padding: 20px 30px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #B5B5B5;
    border-radius: 4px;
    background-color: #B5B5B5;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    
  }

  option {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: #B5B5B5;
    background-color: #f8f8f8;
  }

  option:checked {
    color: #grey;
    background-color: #black;
  }

  @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

  .fa-user {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 16px;
    color: white;
    margin-right: 5px;
  }